<div class="container" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="media">
        <div class="pull-left">
          <img class="media-object img-rounded" ng-src="{{show.poster}}">
          <div class="text-center" ng-if="currentUser">
            <div ng-show="!isSubscribed()">
              <button ng-click="subscribe()" class="btn btn-block btn-success">
                <span class="ion-plus"></span> Subscribe
              </button>
            </div>
            <!--<div ng-show="isSubscribed()">
              <button ng-click="unsubscribe()" class="btn btn-block btn-danger">
                <span class="ion-minus"></span> Unsubscribe
              </button>
            </div>-->
          </div>

        </div>
        <div class="media-body">
          <h2 class="media-heading">
            {{show.name}}
            <span class="pull-right text-danger">Number OF Orders :{{show.rating}}</span>
          </h2>
          <h4 ng-show="show.status === 'Continuing'">
            <span class="ion-calendar"></span>
            {{show.ratingCount}}
            </br>
            {{show.network}}
          </h4>
          <h4> <!--ng-show="show.status === 'Ended'"-->
            Status: <span class="text-danger">{{show.status}}</span>
          </h4>
            <ul>
                <li ng-repeat="image in images">
                    {{image}}
                </li>
            </ul>
        </div>
      </div>
    </div>
  </div>



  <div class="panel panel-default">
    <div class="panel-heading">
      <span class="ion-film-marker"></span> Orders
    </div>
    <div class="panel-body">
      <div class="episode" ng-repeat="episode in show.episodes">
        <h4><font color="red">{{episode.episodeName}}</font>
        <small> <br> <b>Order </b> {{episode.season}}, <b>Sub-Order </b>{{episode.episodeNumber}} </br></small>
        </h4>
        <p>
          <span class="ion-clock"></span>
        <B> TO-BE-DELIVERED-ON :   </B>{{episode.firstAired | date: 'short'}}
        </p>
        <p> <B>DELIVERY-STATUS : </B>{{episode.overview}}
          <h4 ng-show="episode.overview === 'In-Progress'">
                <button ng-click="processStateAlert()" class="btn">Moved to Completed</button>
          </h4>
          <h4 ng-show="episode.overview === 'Processed'">
              <button ng-click="processStateAlert()" class="btn">Moved to Delivered</button>
          </h4>
          <h4 ng-show="episode.overview === 'Returned'">
              <button ng-click="processStateAlert()" class="btn">Moved to In-Progress</button>
          </h4>
          </p>
          </div>
        <p></p>
        <p></p>
      </div>
    </div>
  </div>
</div>